scale{
	font: 10.5px Sans;
	font-weight: bold;
	min-width: 250px;
}

scale scale{
	background-color: transparent;
	color: #000080;
	border-color: #000080;
}

scale highlight{
	background-color: #000080;
	color: #000080;
	border-color: black;
}

scale trough{
	background-color: #3f3f3f;
	color: #3f3f3f;
	border-color: black;
}

label{
	font: 10.5px Sans;
	font-weight: bold;
	color: #dfdfdf;
}

window{
	background-color: black;
}
